body {
  background: #eeeef4;
  padding: 0;
  color: #323232;
}

main {
  padding-bottom: 3rem;
}

nav {
  background: #ffffff;
  display: flex;
}

.home nav {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-nav nav {
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 3rem;
  margin-bottom: 2rem;
}

.top-nav nav h1 {
  margin-bottom: 0;
}

.top-nav .button-container {
  flex-direction: row;
  width: 50%;
}

.button-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container > div {
  flex-basis: 50%;
  margin: 2rem;
}

.top-nav nav .search {
  margin-right: 0;
}

nav .search {
  position: relative;
  height: 3rem;
}

.search div {
  line-height: 2rem;
  font-size: 0.9rem;
  font-style: italic;
}

nav form {
  height: 100%;
}

nav input {
  height: 3rem;
  width: 100%;
  border-radius: 4px;
  margin-right: -4px;
}
nav .search button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 0 4px 4px 0;
  border: none;
  border-left: 1px solid #ccc;
  padding: 0.4rem 1rem;
  background: none;
  margin-bottom: 0;
}

.monster-block {
  background: #fff;
  text-align: left;
  width: 75%;
  box-shadow: 0px 4px 7px #ccc;
  margin: 0 auto 0;
  padding: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-top: 0;
  color: #30322f;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  margin-bottom: 3rem;
}

h2 {
  color: #30322f;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

.section {
  border-top: 1px solid #30322f;
  border-bottom: 1px solid #30322f;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.8rem 0;
}
.section div {
  margin: 0.25rem 0;
}

.stat {
  margin-bottom: 1rem;
}

.sub-stat {
  margin-right: 1rem;
}

.stat-header {
  font-weight: bold;
  line-height: 1.4rem;
  margin-bottom: 0.25rem;
  color: #30322f;
}

textarea {
  display: block;
  width: 100%;
  min-height: 6rem;
  line-height: 1.4rem;
}

.abilities {
  display: flex;
  justify-content: space-around;
}
.abilities div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.abilities input {
  max-width: 50px;
}

button {
  background: #30322f;
  border: solid 1px #ccc;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0;
}

.default-button {
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  height: 100%;
}

.not-found {
  background-color: #fff;
  height: 100vh;
}

.wrapper-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.wrapper-404 img {
  max-width: 40%;
}

@media screen and (max-width: 500px) {
  nav .search {
    position: relative;
    width: 50%;
    margin: 0 0;
    height: 3rem;
  }

  .home nav .search {
    position: initial;
    width: 80%;
    margin: 0;
  }

  .home button {
    position: initial;
    height: 3rem;
    border-radius: 4px;
    border: none;
    padding: 0.4rem 1rem;
    background: #30322f;
    color: #fff;
    font-weight: 500;
    width: 100%;
  }

  .home button img {
    display: none;
  }

  .home button::before {
    content: "Search";
  }

  .top-nav nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .top-nav .search {
    width: 100%;
    order: 2;
  }

  .top-nav nav h1 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .top-nav .button-container {
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    order: 1;
  }

  .button-container > div {
    margin: 1rem 0;
  }
}

/* # sourceMappingURL=index.css.map */
